// Layout : header
// ================
//

// Dimensions des items du header
// -----------------------------

$header-logo-width: 175px !default;
$header-inner-height: 60px !default;
$header-inner-width: 1180px !default;

// Wrapper général :
// ----------------
#header {
  position: absolute;
  top: 0;
  width: 100%;
  //padding-top: rem(20px);
  background-color: red;
  z-index: $zindex-header;
  box-sizing: border-box;
  @include smallLayout {
    //background-color: $panelDark;
    position: fixed;
    padding-top: 0;
    z-index: $zindex-mobileheader;
  }
}

// Intérieur du wrapper
// ---------------------
.header_inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  background-color: peachpuff;
  height: rem($header-inner-height);
  max-width: rem($header-inner-width);
  margin: 0 auto;
  z-index: $zindex-nav;
  @include smallLayout {
    padding: rem(10px) rem(20px);
  }
}

// Zone avec le logo
// -----------------
.header_identity {
  width: rem($header-logo-width);
  align-self: center;
}

.header_logo {
  svg {
    fill: #fff;
    width: rem($header-logo-width);
    //height: $header-inner-height;
  }
}

// Zone navigation
// ---------------
.header_nav {
  flex-grow: 1;
  align-self: center;
  text-align: right;
}
